# Ignore model weights
models/
*.pt
*.pth

# Ignore data and outputs
data/
outputs/
mma_data.zip

# Ignore virtual environments
venv/

# Ignore environment variables
.env

# Python bytecode
__pycache__/
